* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("../2850815.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.searchIcon {
  position: absolute;
  top: 22%;
  left: 37.7%;
  color: rgb(168, 168, 168);
}

.searchIcon:hover {
  cursor: pointer;
}